
		body {
		font-family: Arial, sans-serif;
		text-align: center;
		padding: 50px;
		background-color: #d8f8c2;
		color: #333;
		}

		h1 {
		font-size: 72px;
		margin-bottom: 0;
		}
		p {
		font-size: 24px;
		margin-top: 5px;
		color: #666;
		}
		form {
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: 24px;
		margin-top: 30px;
		text-align: center;
		color: #666;
			}
		.container {
		background-color: rgb(163, 244, 255);
		padding: 40px;
		border-radius: 10px;
		display: inline-block;
		box-shadow: 0 0 15px rgba(0,0,0,0.1);
		width: 50%;
		}

    /* Button styles */
    #loginBtn {
      position: fixed;      /* fixed position relative to viewport */
      top: 15px;            /* distance from top */
      right: 15px;          /* distance from right */
      padding: 10px 20px;
      background-color: #0a9e54;
      color: white;
      border: none;
	  text-decoration: none; /* Remove underline */
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      z-index: 1000;        /* stays on top */
    }
